<mat-card class="card">
    <form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit(contactForm)">
        <mat-card-header>
            <mat-card-title>Formulaire de contact</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="champ">
                <mat-label>Nom</mat-label>
                <input formControlName="name" matInput placeholder="Votre nom" />
            </mat-form-field><br />
            <mat-form-field class="champ">
                <mat-label>Votre Email</mat-label>
                <input formControlName="email" matInput placeholder="ex : contact@listcourse.be" type="email">
            </mat-form-field><br />
            <mat-form-field class="champ">
                <mat-label>Message</mat-label>
                <textarea formControlName="message" matInput> </textarea>
            </mat-form-field><br />
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button type="submit">Envoyer</button>
        </mat-card-actions>
    </form>
</mat-card>