<div class="list">
    <h2>{{ title }}</h2>

    <table mat-table [dataSource]="couponList" #tableCoupon class="mat-elevation-z8">
        <ng-container matColumnDef="N">
            <th mat-header-cell *matHeaderCellDef>Coupon N°</th>
            <td mat-cell *matCellDef="let coupon; let i = index;">{{i +1 }}</td>
        </ng-container>

        <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef>Nom</th>
            <td mat-cell *matCellDef="let coupon">{{ coupon.name }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let coupon">{{ coupon.description }}</td>
        </ng-container>

        <ng-container matColumnDef="dateBegin">
            <th mat-header-cell *matHeaderCellDef>Date de début</th>
            <td mat-cell *matCellDef="let coupon">{{ coupon.dateBegin }}</td>
        </ng-container>

        <ng-container matColumnDef="dateEnd">
            <th mat-header-cell *matHeaderCellDef>Date de fin</th>
            <td mat-cell *matCellDef="let coupon">{{ coupon.dateEnd }}</td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let coupon" class="action-link">
                <button (click)="delete(coupon)">Delete</button>
            </td>
        </ng-container>
        <!-- tooodoooo -->
        <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <a (click)="">Edit</a> |
                <a (click)="">Delete</a>
            </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let coupon; columns: displayedColumns; let i = index"></tr>
    </table>
</div><br>

<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Ajouter un coupon
        </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card class="card">
        <form class="form" [formGroup]="couponForm" (ngSubmit)="post(couponForm)">
            <mat-card-header>
                <mat-card-title>Ajouter un coupon</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="champ">
                    <mat-label>Nom</mat-label>
                    <input formControlName="name" matInput placeholder="ex : -20% sur les fruits secs" />
                </mat-form-field><br />
                <mat-form-field class="champ">
                    <mat-label>Descripton</mat-label>
                    <textarea formControlName="description" matInput
                        placeholder="ex : acheter deux paquets de fruit sec et recevez 20% de reduction sur le 2eme paquet"></textarea>
                </mat-form-field><br />
                <mat-form-field class="champ">
                    <mat-label>Date début</mat-label>
                    <input formControlName="dateBegin" matInput type="date" />
                </mat-form-field><br />
                <mat-form-field class="champ">
                    <mat-label>Date de fin</mat-label>
                    <input formControlName="dateEnd" matInput type="date" />
                </mat-form-field><br />
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button type="submit">Envoyer</button>
            </mat-card-actions>
        </form>
    </mat-card>
</mat-expansion-panel>