<header>
  <div class="global">
    <div class="left">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">


        <a *ngIf="connected()" routerLink="home">
          <button mat-menu-item>
            <mat-icon>list_alt</mat-icon>
            <span>Ma liste</span>
          </button>
        </a>


        <a *ngIf="connected()" routerLink="coupon">
          <button mat-menu-item>
            <mat-icon>redeem</mat-icon>
            <span>Mes coupons</span>
          </button>
        </a>

        <a *ngIf="connected()" routerLink="list">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Liste des utilisateurs</span>
          </button>
        </a>
        <a *ngIf="connected()" routerLink="profil">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Mon profil</span>
          </button>
        </a>

        <a *ngIf="!connected()" routerLink="login">
          <button mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <span>Se connecter</span>
          </button>
        </a>

        <a *ngIf="connected()" (click)="logOut()">
          <button mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <span>Se déconnecter</span>
          </button>
        </a>

        <a *ngIf="!connected()" routerLink="register">
          <button mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <span>S'enregistrer</span>
          </button>
        </a>

      </mat-menu>
    </div>
    <div class="right">
      <h1 [ngStyle]="{ 'color': color }" [id]="title"> {{ title }} </h1>
    </div>
  </div>
</header>